.category-card {
    &.active {
        background-color: lightgray;
    }

    &:hover {
        cursor: pointer;
    }
}

ul {
    padding: 0;

    li {
        list-style: none !important;
    }
    
}

h1, h2 {
    color: white;
}

h1 {
    padding-top: 3vh;
}

h2 {
    font-size: 15pt;
    margin-bottom: 7vh;
}

#booking_type_step2_equipments {

    height: 40vh;

    option {
        &.hide {
            display: none;
        }
    }
}

.booking-dates {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-h2 {
        margin-bottom: 35px;
    }

    .col-form-label {
        color: white;
    }

    #booking_type_step1_loaningDate_time_minute {
        margin-left: 5px;
    }

    #booking_type_step1_returnDate_time_minute {
        margin-left: 5px;
    }

    select {
        background-color: white;
        border-radius: 10px;
        margin-right: 5px;
    }

    button {
        background-color: white;
        border-radius: 25px;
        color: #0057A9;
        border: none;
        margin-top: 25px;
    }
}
