{% extends 'administration/base.html.twig' %}
{% trans_default_domain "category" %}

{% block title %}{% trans %}Add a category{% endtrans %}{% endblock %}

{% block admincontent %}
    <div class="dashboard-header">
        <h1 class="dashboard-title">{% trans %}Add a category{% endtrans %}</h1>
        <a class="basic-button" href="{{ path('category_index') }}">{% trans %}Back to list{% endtrans %}</a>
    </div>

    {{ include('category/_form.html.twig') }}

{% endblock %}
