.admin {
  height: 100vh;
  display: flex;

  &-content {
    margin-left: 520px;
    width: 100%;
    padding: 68px 68px 68px 0;

    @media all and (max-width: 1600px) {
      margin-left: 420px;
    }

    table {
      overflow: hidden;
      margin-top: 50px;
      width: 100%;
      border-radius: 23px;
      background-color: white;
      border: 1px solid rgba(26, 34, 85, 0.07);

      tr {
        border: 1px solid #E5E2E2;
      }
    }

    thead {
      background-color: #E2F1FF;
      color: #192158;
      border-radius: 10px 10px 0 0;
    }
  }
}

.sidebar {
  box-shadow: 0 3px 70px rgba(0, 0, 0, 0.09);
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  width: 425px;
  background-color: white;
  height: 100vh;
  margin: 30px 60px 0 30px;
  position: fixed;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-logo {
      width: 70px;
      height: 70px;
      margin-top: 40px;
    }

    &-name {
      color: #192158;
      font-size: 25px;
      margin-top: 20px;
      font-weight: bold;
    }
  }

  &-nav {
    margin-top: 60px;
    width: 87%;

    &-item {
      padding-left: 45px;
      height: 65px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 23px;
      font-weight: bold;
      font-size: 20px;
      color: #192158;
      transition: all 0.2s ease;
      margin: 10px 0;

      a {
        color: #192158;
      }

      &:hover {
        background-color: #E2F1FF;
        cursor: pointer;
      }

      &-active {
        a {
          color: white;
        }

        background: linear-gradient(to right, #2293FC, #0057A9);
        color: white;
      }
    }
  }

  @media all and (max-width: 1600px) {
    width: 325px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    &-nav {
      &-item {
        height: 45px;
        font-size: 14px;
      }
    }
  }
}

