{# templates/administration/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Administration{% endblock %}</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="admin">
    <div class="admin-sidenav">
        <h1>Gobooking</h1>
        <nav class="admin-sidenav-menu">
            <ul>
                <li><a href="{{ path('booking_index') }}">Bookings</a></li>
                <li><a href="{{ path('equipement_index') }}">Equipments</a></li>
                <li><a href="{{ path('category_index') }}">Categories</a></li>
                <li><a href="#">Accounts</a></li>
            </ul>
        </nav>
    </div>
    <div class="admin-content">
        {% block admincontent %}
        {% endblock %}
    </div>
 {% block javascripts %}{% endblock %}
</body>
</html>